<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Здесь вы сможите узнать важную информацию о студентах, проживающих в Общежитии ННГУ</h1>
            <p></p>
            <img src="/img/for_page/nngu_index.jpg" width="100%"/>
            <p></p>
            <h5>Переходи на вкладку Rooms или Students для просмотра всех студентов</h5>     
        </div>

        <div class="text-left">  
            <p></p>
            <p>Большим преимуществом Нижегородского государственного университета им. Лобачевского является то, что он имеет собственную инфраструктуру. Большинство факультетов, административных зданий, научно-исследовательских институтов, спортивных сооружений, общежитий и главное здание Библиотеки ННГУ расположены на территории кампуса. Кампус расположен в верхней части города, на проспекте Гагарина, 23.</p>
            <p>Иностранные студенты живут в комфортабельных общежитиях, которые находятся на <a target="_blank" href="http://eng.unn.ru/about/campus-and-city"> территории кампуса ННГУ</a> в непосредственной близости от центра города. Иностранные студенты проживают в 3-х местных комнатах, оснащенных необходимой мебелью и постельными принадлежностями.</p>
            <p>Все комнаты в студенческом общежитии имеют доступ в Интернет. Души, туалеты и кухни расположены на каждом этаже. На каждом этаже студенческого общежития есть комнаты для занятий. Рядом есть студенческая столовая, продуктовые магазины, банки и спортивный комплекс. Круглосуточная охрана обеспечивает максимальную безопасность студентов.</p>
        </div>
    </div>
</div>


                  @*<a class="btn btn-sm btn-outline-secondary" type="button" asp-controller="Admin" asp-action="Administrator">Administrator</a>
                  <a class="btn btn-sm btn-outline-secondary" type="button" asp-controller="Admin" asp-action="User">User</a>
                   <a class="btn btn-sm btn-outline-secondary" type="button" asp-controller="Account" asp-action="LogOff">Out of Admin</a>*@

